.content {
  min-height: calc(80vh - 80px);
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.21;
  margin-top: 65px;
  text-align: center;
}

.form {
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
  background-color: burlywood;
}
