.titlePhone {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(45deg, #8aa9d6 33%, #90584a 66%, #412328);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  display: table;
  margin: 20px auto;
}

.contactTitle {
  font-size: 2em;
  font-weight: bold;
  color: #412328;
}
