.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.align__item .align--start {
  align-self: flex-start;
  /* background-color: var(--base-bgcolor); */
}

.align__item .align--end {
  align-self: flex-end;
}

.input {
  border: 0;
  font: inherit;
}
/* .input::placeholder { */
/* color: var(--input-placeholder-color); */
/* } */

.form__field {
  margin-bottom: 1rem;
}

.input {
  outline: 0;
  padding: 0.5rem 1rem;
  background-color: var(--base-bgcolor);
  width: 100%;
}

.grid {
  margin: 0 auto;
  /* max-width: var(--grid-max-width); */
  /* width: var(--grid-width); */
}

.register {
  text-align: center;
}

.register .input {
  border: 1px solid #242c37;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
}

.input[type="text"] {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 1rem 50%;
  /* background-color: var(--base-bgcolor); */
}
