.list {
  display: flex;
  list-style: none;
  margin-left: 150px;
}

.item:not(:last-child) {
  margin-right: 25px;
}

.link {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: slategrey;
  text-decoration: none;
}

.link:hover {
  color: springgreen;
}

.activeLink {
  border-bottom: 1px solid red;
}
