.list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 150px;
}

.item:not(:last-child) {
  margin-right: 25px;
}

.link {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: coral;
}

.activeLink {
  text-decoration: none;
}
