.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  background: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  position: sticky;
  bottom: 0;
}
.description {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.FaReact {
  font-size: 45px;
  color: blue;
  margin-right: 10px;
}

.footerLink {
  font-size: 18px;
  text-decoration: underline;
  color: rgba(47, 32, 255, 0.726);
}

.footerLink:hover {
  color: rgba(255, 32, 136, 0.726);
}
