.text {
  color: #000;
  line-height: 1.2;
  margin-right: 10px;
  margin-left: 10px;
}

.logout {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.img {
  border-radius: 50%;
}

.btn {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 3px 10px;
  outline: none;
  border: 2px solid brown;
  border-radius: 4px;
  background: #fff;
  transition: 0.2s;
}
.btn:hover {
  background: brown;
  color: #fff;
}
.btn:active {
  background: rgb(89, 0, 255);
  border: none;
}
